<div id="<%= dom_id article %>">
  <p>
    <strong><%= sort_link(@q, :title, "Title", default_order: :asc) %></strong>
    <%= article.title %>
  </p>

  <p>
    <strong><%= sort_link(@q, :body, "Body", default_order: :asc)%></strong>
    <%= article.body %>
  </p>

</div>
